*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
datasets
temp_datasets
debug*
reference_images
pyrightconfig.json
boptrained_model
eval_ycb_bak.py